Source: smtpprox-loopprevent
Maintainer: Jesse Norell <jesse@kci.net>
Section: mail
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)
Homepage: https://github.com/jnorell/smtpprox-loopprevent

Package: smtpprox-loopprevent
Architecture: all
# see what we can remove here and let dh_* figure out
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, adduser (>= 3.11), lsb-base, libmailtools-perl, libmsdw-smtp-perl | dkimproxy (<= 1.2-6)
Description: Transparent SMTP proxy to prevent mail forwarding loops
 smtpprox-loopprevent is a transparent SMTP proxy which rejects a message
 if any of the recipient addresses match a Delivered-To header.
 .
 It was written to be used as a Postfix before-queue filter.

